version: "3.9"
services:
  minio:
    image: swr.cn-north-4.myhuaweicloud.com/oomall-javaee/quay.io/minio/minio:latest
    networks:
      - javaee-proxy
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - /root/minio/data:/data
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=JavaEE20251014
    command: server /data --console-address ":9001"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.minio==yes

  mysql:
    image: swr.cn-north-4.myhuaweicloud.com/oomall-javaee/mysql:latest
    networks:
      - javaee-proxy
    ports:
      - target: 3306 # Container port (Traefik web entry point)
        published: 3306 # Host port exposed on the nodes
        protocol: tcp
    volumes:
      - /root/mysql/sql:/sql:ro
      - /root/mysql/conf.d:/etc/mysql/conf.d:ro
      - /root/mysql/log:/var/log/mysql
      - /root/mysql/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=JavaEE2025-10-09
    deploy:
      mode: replicated
      replicas: 1
      placement:

        # Placement constraints restrict where Traefik tasks can run.
        # Running on manager nodes is common for accessing the Swarm API via the socket.
        constraints:
          - node.labels.mysql==yes

  nacos:
    image: swr.cn-north-4.myhuaweicloud.com/oomall-javaee/nacos/nacos-server:latest
    networks:
      - javaee-proxy
    volumes:
      - /root/nacos/application.properties:/home/nacos/conf/application.properties
    ports:
      - "8080:8080"
    environment:
      - MODE=standalone
      - NACOS_AUTH_ENABLE=true
      - NACOS_AUTH_TOKEN=eGlhbWVudW5pdmVyc2l0eWluZm9ybWF0aWNzc2Nob29sc29mdHdhcmVlbmdpbmVlcmluZw
      - NACOS_AUTH_IDENTITY_KEY=mingqiu
      - NACOS_AUTH_IDENTITY_VALUE=hello
      - JAVA_OPTS=-"Xms512m -Xmx1g -Xmn512m"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.nacos==yes

  redis:
    image: swr.cn-north-4.myhuaweicloud.com/oomall-javaee/redis/redis-stack-server:latest
    networks:
      - javaee-proxy
    volumes:
      - /root/redis:/etc/redis:ro
    environment:
      - CONFFILE=/etc/redis/redis.conf
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.redis==yes

networks:
  javaee-proxy:
    driver: overlay
    attachable: true
    external: true

